@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: futura-pt,
    YakuHanJP_Narrow,
    "Noto Sans JP",
    "Hiragino Sans",
    "Hiragino Kaku Gothic ProN",
    "Yu Gothic Medium",
    "Yu Gothic",
    YuGothic,
    Meiryo,
    sans-serif;
  ;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
